<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'inventory/template/partials/head.html' %}
    </head>
<body>
    {% include 'inventory/template/partials/header.html' %}
    <!-- Left Sidebar section -->
    {% include 'inventory/template/partials/left-sidebar.html' %}
    
    <!-- Right Sidebar section -->
    {% include 'inventory/template/partials/right-sidebar.html' %}
    
    <!-- Footer section -->
    {% include 'inventory/template/partials/footer.html' %}
</body>
</html>